body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  scroll-behavior: smooth;
}

hr {
  width: 40px;
  border: 3px solid #E84A5F;
  margin-bottom: 50px;
}

header {
  background-color: #1F1F26;
  color: white;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-family: 'Roboto', sans-serif;
}

header img {
  width: 383px;
}

header .nav {
  margin-right: 90px;
  margin-top: 20px;
}

header h2 {
  font-size: 80px;
  font-weight: bold;
}

header h3 {
  font-size: 40px;
  font-weight: bold;
}

header h5 {
  font-size: 30px;
  font-weight: 400;
  opacity: 0.5;
}

header .button {
  position: relative;
  top: 0;
  -webkit-transition: top ease 0.5s;
  transition: top ease 0.5s;
}

header .button:hover {
  top: -10px;
}

header .btn-hire {
  background-color: #E84A5F;
  color: white;
  width: 100px;
}

header .btn-hire:hover {
  background-color: #eb334c;
  color: white;
}

header .resume {
  font-size: 12px;
  color: gray;
}

.biography {
  margin-bottom: 50px;
}

.biography .section-heading {
  margin-bottom: 0px;
}

.biography .timeline-panel {
  margin-top: 15px;
}

.biography .timeline-panel-add {
  margin-top: 30px;
}

.skill {
  background-color: #f1f1f1;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-bottom: 100px;
}

.skill .card {
  cursor: pointer;
  position: relative;
  top: 0;
  -webkit-transition: top ease 1s;
  transition: top ease 1s;
}

.skill .card:hover {
  -webkit-box-shadow: 3px 40px 42px -39px rgba(0, 0, 0, 0.52);
  box-shadow: 3px 40px 42px -39px rgba(0, 0, 0, 0.52);
  top: -10px;
}

.skill .img-circle {
  border-radius: 200%;
  width: 100px;
  height: 100px;
  -webkit-box-shadow: 4px 3px 9px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 4px 3px 9px 0 rgba(0, 0, 0, 0.2);
  margin-left: 90px;
  margin-top: 30px;
}

.skill .img-skill {
  width: 40px;
  margin-top: 35px;
  margin-left: 5px;
}

.skill .webdev, .skill .uiux, .skill .network {
  margin-left: 35px;
  border-radius: 0 0 50px 0;
}

.portofolio {
  margin-bottom: 50px;
}

.portofolio .porto1 {
  margin-left: 100px;
  margin-bottom: 20px;
}

.portofolio .porto2 {
  margin-left: 35px;
}

.portofolio .porto3 {
  margin-left: -30px;
}

.portofolio .zoom {
  overflow: hidden;
}

.portofolio .zoom img {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.portofolio .zoom:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer {
  background-color: #1F1F26;
  color: white;
}

footer .icon-contact {
  margin-left: 413px;
  margin-bottom: 170px;
}

footer .contact {
  float: left;
  padding-top: 9px;
  background-color: white;
  border-radius: 200%;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  position: relative;
  top: 0;
  -webkit-transition: top ease 0.5s;
  transition: top ease 0.5s;
}

footer .contact:hover {
  top: -10px;
}

footer .icon {
  font-size: 18px;
  color: #1F1F26;
}

footer .icon:hover {
  color: #eb334c;
}

@media (max-width: 768px) {
  header {
    text-align: left;
    padding-bottom: 50px;
    padding-left: 20px;
  }
  header img {
    margin-top: 30px;
    width: 250px;
  }
  header .text-header {
    margin-top: -30px;
  }
  header h2 {
    font-size: 50px;
    font-weight: bold;
  }
  header h3 {
    font-size: 28px;
    font-weight: bold;
  }
  header h5 {
    font-size: 20px;
    font-weight: 400;
    opacity: 0.5;
  }
  header .btn-hire:hover {
    background-color: #eb334c;
    color: white;
  }
  .biography {
    padding-right: 5px;
  }
  .biography .timeline-add {
    padding-left: 20px;
  }
  .biography .timeline-panel {
    margin-top: 0px;
  }
  .biography h4 {
    font-size: 20px;
  }
  .biography p {
    font-size: 15px;
  }
  .skill {
    padding-bottom: 50px;
  }
  .skill .webdev, .skill .uiux, .skill .network {
    margin-left: 50px;
    margin-bottom: 20px;
  }
  .portofolio .porto1, .portofolio .porto2, .portofolio .porto3 {
    margin-left: 45px;
    margin-bottom: 20px;
  }
  footer {
    background-color: #1F1F26;
    color: white;
  }
  footer .icon-contact {
    margin-left: 50px;
    margin-bottom: 170px;
  }
}
/*# sourceMappingURL=main.css.map */